html{
    color: #220901;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Righteous';
    color: white;
}
h1{

}
.nav{
    background: white;
    opacity: 0.75;
    text-align: left;
    position: fixed;
    width: 200px;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-box-shadow: -25px -1px 50px 25px white;
    transition: 0.25s ease-in-out;
    z-index: 100;
}
.nav:hover{
    width: 250px;
    -webkit-box-shadow: 0px 0px white;
    opacity: 1.0;
}
.navlink{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #220901;
    transition: 0.125s;
    
}
.link:hover{
    color: white;
    background: #f4040799;
}
.navlink input{
    display: block;
    position: absolute;
    opacity: 0;
}
.link{
    display: block;
    padding: 16px 32px 16px 16px;
    text-align: right;
    transition: 0.125s ease-in-out;
}
.navlink input:checked ~ .link{
    padding-right: 100px;
}
.bg {
    position: fixed;
    top: -400px;
    left: -450px;
    width: 200%;
    height: 200%;
    z-index: -5;
    opacity: 0.6;
}
path{
   transition: 0.125s ease-out; 
}
.wiggly{
    animation: wiggle 0.75s infinite alternate;*/
}
@keyframes wiggle {
  0% {
    filter: url("#turbulence-1");
  }
  100% {
    filter: url("#turbulence-2");
  }
}

header{
    color: white;
}
header h2{
    position: absolute;
    top: 95px;
    left: 25px;
    font-size: 32px;
    -webkit-transform: rotate(44deg);
}
header h3{
    -webkit-transform: rotate(-15deg);
    position: absolute;
    top: 110px;
    left: 310px;
    font-size: 24px;
}
div.content{
    position: absolute;
    top: 240px;
    bottom: 64px;
    padding: 12px;
    margin-right: 265px;
    display: block;
    left: -105%;
    right: 105%;
    z-index: 99;
}
.content h1{
    margin: 0px 16px;
}
.content p{
    color: white;
}
#about-page{background: #f86869;}
#coding-page{background: #66a2d7;}
#design-page{background: #669766;}
#contact-page{background: #f5e066;}
footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: right;
    padding-right: 32px;
    padding-bottom: 8px;
}